.Container-add{
    width: 90%;
    display: block;
}

.container-ref{
    display: flex;
}
.correr-izq-ref{
    margin-left: 5%;
}
.correr-arriba-30px{
    position: relative;
    top: -30px;
}
.Cuadrado{
    width: 100%;
}
.Cuadado-pintado{
    display: inline;
    margin: 0.5rem;
    background-color: #131e29;
    color: #fff;
    text-align: center;
    border: 3px solid #131e29;
    border-width:3px solid #131e29 ;
}
.Cuadado-NO-Pintado{
    display: inline;
    margin: 0.5rem;
    background-color: #fff;
    color: #000;
    text-align: center;
    border:none;
}
.tachar{
    text-decoration:line-through;
    position: relative;
    display: inline;
    margin: 1rem;
}
.no-tachar{
    position: relative;
    display: inline;
    margin: 1rem;
}

.box-general-añadir{
    display: inline;
    width: 100%;
    
}

.box-sumar-añadir{
    display: inline;
    position: relative;
    width: 30%;
}

.box-button-añadir{
    display: inline;
    position: relative;
    width: 70%;
}

.box-sumar-añadir button{
    display: inline;
    margin: 0.5rem;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    border: none;
}
.box-sumar-añadir h5{
    font-size: 16px;
    display: inline;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    border: 6px solid #ffffff;
}

.box-button-añadir button{
    display: inline;
    width: 70%;
    margin: 0.5rem;
    background-color: #131e29;
    color: #fff;
}

.Alerta-box-false{
    display: none;
}

.Alerta-box-true{
    background-color: #131e29;
    color: #fff;
    position: relative;
    /*move the box from the original place*/
    text-align: center;

}

.descripcion-producto{
    width: 100%;
}

.line-hr{
    color: #000000;
    display: block;
   
}

.sub-box-general-producto{
    width: 100%;
}
.sub-box-general-producto button{
    width: 100%;
    border: none;
    height: 50px;
    background-color: #fff;   
    text-align: left;
}
.sub-box-general-producto button:hover{
    background-color: #9a9a9a; 
}

.Texto-Abierto{
    display: block;
    text-align: justify;
    font-weight: normal;
}
.Texto-Oculto{
    display: none;
}
