
.Box-collaider-navbar{
  background-color: #fff;
  min-height: 100px;
  
}
.Container {
  background-color:#fff;
  width: 98%;
  margin-left: 1%;
  display: flex;
 
}
.container-width-60{
  width: 60%;
}
.container-width-40{
  width: 40%;
}
.container-footer{
  width: 100%;
}